<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta name="theme-color" content="#4F7DC9">
<meta charset="UTF-8">

h1 {
  color: #370098;
  font-family: 'Lato','sans-serif';
  font-size: 26px;
  font-weight: 100;
}

h2 {
  color: #370098;
  font-family: 'Lato','sans-serif';
  font-size: 24px;
}

h3 {
  color: #000000;
  font-family: 'Lato','sans-serif';
  font-size: 18px;
}

h4 {
  color: #000000;
  font-family: 'Lato','sans-serif';
  font-size: 16px;
  font-style: bold;
}

p {
  color: #000000;
  font-family: 'Lato','sans-serif';
  font-size: 16px;
}

li {
  color: #000000;
}

a {
    color: inherit;
    text-decoration: none;
}

.fluid_header {
  background-color: #FFFFFF;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 2em;
  font-family: 'Lato','sans-serif';
  letter-spacing: 2px;
  color: #370098;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.1;
  font-variant: normal;
  font-style: normal;
  overflow: auto;
}

.fluid_header h1 {
  background-color: #FFFFFF;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 2em;
  font-family: 'Lato','sans-serif';
  letter-spacing: 2px;
  color: #370098;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.1;
  font-variant: normal;
  font-style: normal;
  overflow: auto;
}

.fluid_sidebar {
  width: 20em;
  background-color: #212121;
  height: 100%;
  color: #FFFFFF;
  margin: 0;
  border: 0;
  padding: 0em;
  font-family: 'Lato','sans-serif';
  font-size: 14px;
  font-weight: normal;
  float: left;
}

.fluid_sidebar h1 {
  background-color: #212121;
  height: auto;
  color: #FFFFFF;
  margin: 0;
  border: 0;
  padding: 4em 0em 0em 2em;
  font-family: 'Lato','sans-serif';
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  float: left;
}

.fluid_body {
  background-color: #E7E7E7;
  text-align: left;
  border: 0;
  margin: 0;
  padding: 2em 2em 2em 2em;
  font-family: 'Lato','sans-serif';
  color: #370098;
  font-size: 20px;
  overflow: auto;
}

.fluid_body h2 {
  background-color: #E7E7E7;
  text-align: left;
  border: 0;
  margin: 0;
  padding: 0em 2em 0em 2em;
  font-family: 'Lato','sans-serif';
  color: #370098;
  font-size: 24px;
  overflow: auto;
  text-align: left;
}

.fluid_footer {
  background-color: #FFFFFF;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 2em;
  font-family: 'Lato','sans-serif';
  letter-spacing: 2px;
  color: #370098;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.1;
  font-variant: normal;
  font-style: normal;
  overflow: auto;
}

html, body {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}


